body,ul,li,div,p,span,h1,h2,h3,h4,h5,h6,i,a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    display: flex;
    align-items: centre;
}
.navbar-nav li{
    list-style: none;
    margin-right:15px;
    display: inline;
}
.navbar-nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navbar-nav a:hover{
    color: pink;
    background-color: green;
}
.main{
    background: url('portfolio.png') no-repeat;
    background-color: grey;
    background-position: right;
    height: 700px;
    width: 1475px;
    background: cover;
    
}
.main h3{
    font-size: 4.5rem;
    font-weight: 700;
}
.My birthplace{
    float: right;
    margin-bottom: 100px;
    width: 1457px;
    height: 1500px;
    margin-left: 1200px;
    background-color: grey;
}